Source: php-hyphen
Section: php
Priority: optional
Maintainer: Karoly Gossler <connor@connor.hu>
Build-Depends: debhelper (>= 9),
               dh-php (>= 0.22~),
               php-all-dev,
               libhyphen-dev (>= 2.4)
Standards-Version: 3.9.8

Package: php-hyphen
Architecture: any
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Provides: ${php:Provides}
Description: hyphenation module for PHP
 PHP Bindings for the libhyphen hyphenation library.
 .
 Bindings for the libhyphen hyphenation library.
